<a href="https://colab.research.google.com/github/gaudhami4/SOCIAL-NETWORK-Ads.csv/blob/main/DataPreprocessing_Assignment11_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [1]:
import numpy as np
import pandas as pd

**Step 2: Importing dataset**

In [22]:
df=pd.read_csv("/content/Data.csv")
X=df.iloc[:,:-1].values
Y=df.iloc[:,3].values
df.head(3)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No

In [23]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [24]:
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

**Step 3: Handling the missing data**

In [15]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values="NAN",strategy="mean")

#X[:,1:3]=imputer.fit_transform(X[:,1:3])

**Step 4: Encoding categorical data**

In [17]:
from sklearn.preprocessing import LabelEncoder
labellencoder_X=LabelEncoder()
X[:,0]=labellencoder_X.fit_transform(X[:,0])

**Step 5: Creating a dummy variable**

In [31]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([("one_hot_encoder()",OneHotEncoder(),[0])],
                     remainder="passthrough"
                     )
X=ct.fit_transform(X)
labelencoder_Y=LabelEncoder()
Y=labelencoder_Y.fit_transform(Y)

**Step 6: Splitting the datasets into training sets and Test sets**

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

**Step 7: Feature Scaling**

In [34]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.fit_transform(X_test)